/* Put your custom CSS here */
.divImgWide {
	width: 100%;
}

.divImgCrop {
	overflow: hidden;
}

.closeBtnRight {
	float: right; 
}

.gridAlignCenter {
	text-align: center;
}

.divCenter {
	text-align: center;
}